.sort-button {
  flex: 1 1 33%;
	margin: 0 5px;
	padding: 15px 5px;
	font-size: 1em;
	font-family: $font-main;
	font-weight: 500;
	color: #fff;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid transparent;
	border-radius: none;
	appearance: none;
	// transition: 0.2s ease;
	opacity: 0.8;
	cursor: pointer;

	&:hover {
		border-color: transparentize(#fff, 0.7);
	}

	&:focus {
		outline: none;
	}

	&--active {
		border-color: #fff;
		outline: none;

		&:hover {
			border-color: #fff;
		}
	}
}