@import '../../_variables';

.leaflet {
	&__marker {
		width: auto;
		height: auto;
	}

	&__marker-inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 0.2s ease;
		-webkit-font-smoothing: subpixel-antialiased;
		backface-visibility: hidden;
		cursor: default;
	}

	&__marker-content {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--hidden {
			display: none;
		}
	}

	&__marker-image {
    position: absolute;
    top: -90px;
    left: 50%;
		display: block;
		width: 80px;
		margin: 5px 0;
		box-shadow: 0 5px 10px -5px transparentize(#000, 0.45);
		transform: translateX(-50%);

		&--hidden {
			display: none;
		}
	}

	&__marker-button {
		position: absolute;
		top: 100%;
		margin: 3px 0;
		padding: 5px 7px;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		background-color: #212121;
		border: none;
		border-radius: 0;
		transition: 0.2s ease;
		appearance: none;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: transparentize(#212121, 0.2);
		}

		&--hidden {
			display: none;
		}
	}

	&__marker-text {
		display: inline-block;
		margin: 3px 0;
		padding: 3px 7px;
		text-align: center;
		line-height: 1.4em;
		white-space: nowrap;
		color: #000;
		background-color: #fff;
		box-shadow: 0 5px 10px -5px transparentize(#000, 0.45);

		&--name {
			font-size: 18px;
			font-weight: 700;
		}

		&--post {
			font-size: 14px;
			font-weight: 400;
		}
	}
}

.leaflet-container {
	height: 100%;
	background-color: #fff;
}

.leaflet-control-container .leaflet-top {
	right: 10px;
	left: auto;
	top: 50%;
	transform: translateY(-50%);
}

.leaflet-touch .leaflet-bar {
	display: none;
	border: none;

	@media (min-width: $media-sm) {
		display: block;
	}

	a {
		color: #fff;
		background-color: #2a2f34;
		border-bottom: none;
		transition: 0.2s ease;

		&:hover {
			opacity: 0.9;
		}

		&:first-of-type {
			margin-bottom: 2px;
		}
	}

	a.leaflet-disabled {
		opacity: 0.5;
	}
}

.leaflet-control-attribution.leaflet-control {
	display: none;
}

@keyframes Pop {
	from {
		transform: scale(0.9);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes HideMarker {
	from {
		transform: scale(1);
		opacity: 1;
	}

	to {
		transform: scale(0.9);
		opacity: 0;
	}
}