.sort-button {
	margin: 0 15px;
	padding: 10px 30px;
	font-size: 1em;
	font-family: $font-main;
	font-weight: 500;
	color: #fff;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid transparent;
	border-radius: none;
	appearance: none;
	opacity: 0.8;
	cursor: pointer;

	&--active {
		border-color: #fff;
		outline: none;
	}

	&:focus {
		outline: none;
	}
}