.search {
	position: relative;
	margin: 15px;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background-color: #fff;
	// border: 2px solid #dedede;
	border: 2px solid transparent;
	border-radius: 3px;
	box-shadow: 0 10px 30px -5px transparentize(#000, 0.9);
	transition: 0.2s ease;

	&--focused {
		border-color: #f1c40f;
		box-shadow: 0 10px 30px -7px transparentize(#000, 0.9);
	}

	&__input {
		position: relative;
		width: 100%;
		padding: 15px 65px 15px 15px;
		font-family: inherit;
		font-size: 1.125em;
		font-weight: inherit;
		background-color: transparent;
		border: none;
		appearance: none;
		z-index: 1;

		&:focus {
			outline: none;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		height: 35px;
		padding: 0 15px;
		z-index: 0;
	}
}