.search {
	position: relative;
	margin: 15px 0;
	padding: 2px;
	font-size: 1rem;
	font-family: $font-main;
	font-weight: 500;
	background-color: #2a2f34;
	border-radius: 0;
	transition: 0.2s ease;

	&--focused {
		// background-image: linear-gradient(to right, #ff8008, #ffc837);
	}

	&__input {
		position: relative;
		width: 100%;
		padding: 10px;
		font-family: inherit;
		font-size: 1em;
		font-weight: inherit;
		color: #fff;
		background-color: transparent;
		border: none;
		appearance: none;
		z-index: 1;

		&:focus {
			outline: none;
		}
	}
}