@import '../../_variables';

.app {
	position: relative;
	display: flex;
	height: 100%;

	&__sidebar {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		flex: none;
		max-width: 300px;
		z-index: 10000;
		transition: 0.3s cubic-bezier(1, 0, 0, 1);

		@media (min-width: $media-sm) {
			position: relative;
		}

		&--hidden {
			width: 56px;
			max-height: 112px;
			overflow: hidden;

			@media (min-width: $media-sm) {
				width: 25%;
				max-height: none;
			}

			.sidebar__logo--normal {
				opacity: 0;

				@media (min-width: $media-sm) {
					opacity: 1;
				}
			}

			.sidebar__logo--small {
				@media (min-width: $media-sm) {
					opacity: 0;
				}
			}

			.sidebar__sort-block {
				display: none;

				@media (min-width: $media-sm) {
					display: flex;
				}
			}

			.search,
			.search-list {
				display: none;

				@media (min-width: $media-sm) {
					display: block;
				}
			}
		}

		&--visible {
			width: 85%;
			max-height: 850px;
			overflow: visible;

			@media (min-width: $media-sm) {
				max-height: none;
			}

			.sidebar__logo--small {
				opacity: 0;
			}

			.sidebar__toggle {
				transform: translateX(50px);
			}

			.sidebar__sort-block,
			.search,
			.search-list {
				opacity: 0;
				animation: ShowSidebarContent 0.5s ease;
				animation-delay: 0.2s;
				animation-fill-mode: forwards;
			}
		}
	}

	&__main {
		position: relative;
		flex: 1;
		overflow: hidden;
	}
}

@keyframes ShowSidebarContent {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}