*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
	height: 100%;
}

body {
	background-color: #F5F5F5;
	font-size: 16px;
}

.root {
	height: 100%;
}