.scheme {
	width: 100%;
	// overflow: hidden;

	.SVGInline {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		transition: 0.4s ease-in-out;
	}

	.SVGInline-svg {
		width: 100%;
	}
}